@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* scroll-behavior: smooth; */
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bitter', serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

/* h2 {
    font-size: ;
}

h3 {

}

h4 {

} */

p {
    font-size: 16px;
}

#step1::before {
    position: absolute;
    content: "1";
    text-align: center;
    font-size: 3rem;
    font-family: 'Bitter', serif;
    left: -20px;
    bottom: -20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #00306e;
    color: white;
    /* opacity: 60%; */
}


#step2::before {
    position: absolute;
    content: "2";
    text-align: center;
    font-size: 3rem;
    font-family: 'Bitter', serif;
    left: -20px;
    bottom: -20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #00306e;
    color: white;
    /* opacity: 60%; */
}

#step3::before {
    position: absolute;
    content: "3";
    text-align: center;
    font-size: 3rem;
    font-family: 'Bitter', serif;
    left: -20px;
    bottom: -20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #00306e;
    color: white;
    /* opacity: 60%; */
}

#step4::before {
    position: absolute;
    content: "4";
    text-align: center;
    font-size: 3rem;
    font-family: 'Bitter', serif;
    left: -20px;
    bottom: -20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #00306e;
    color: white;
    /* opacity: 60%; */
}

/* #faq::before {
    position: absolute;
    content: "?.";
    font-size: 12rem;
    font-family: 'Bitter', serif;
    left: 480px;
    bottom: 10px;
    rotate: -20deg;
    color: #00306e;
    opacity: 30%;
    z-index: -10;
    letter-spacing: -30px;
} */